.wd-nudge-up-and-right {
  position: relative;
  left: 15px;
  bottom: 25px;
}

.wd-nudge-down-slightly {
  position: relative;
  top: 7px;
}

.wd-nudge-up-and-left {
  position: relative;
  bottom: 47px;
  left: 10px;
}

.wd-nudge-up {
  position: relative;
  bottom: 46px;
}

.wd-rounded-corners {
  border-radius: 10px;
}